* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

.slide {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.8s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.slide .content {
  text-align: center;
}

/* Фоны слайдов и контрастный цвет текста */
#slide1 {
  background-color: #1e1e1e;
  color: #ffffff;
  z-index: 3;
}

#slide2 {
  background-color: #cfd5db;
  color: #000000;
  z-index: 2;
}

#slide3 {
  background-color: #171717;
  color: #ffffff;
  z-index: 1;
}
