* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: sans-serif;
}

.slide {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: white;
  transition: transform 0.8s ease-in-out;
}

/* Фоны для слайдов */
#slide1 {
  background-color: #171717;
  z-index: 3;
  color: #ffffff;
}

#slide2 {
  background-color: #cfd5db;
  z-index: 2;
  color: #000000;
}

#slide3 {
  background-color: #171717;
  z-index: 1;
  color: #ffffff;
}
